# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
*.txt
*.xyz
outputs/
*.pt
logs/
results/
data/
screen_configs/
*.log
launch_*
screen_configs_inverse_summation/
results_inverse_summation/